ACCOUNT_OPENING_URL=https://example.com
CKYC_URL=https://example.com
REKYC_URL=https://example.com
VCIP_URL=https://example.com
TRADE_FINANCE_URL=https://example.com
LOAN_ORIGINATION_URL=https://example.com
MOBILE_BANKING_URL=https://example.com
INTERNET_BANKING_URL=https://example.com
CARD_MANAGEMENT_URL=https://example.com
PAYMENTS_URL=https://example.com
CUSTOMER_ONBOARDING_URL=https://example.com
FRAUD_MONITORING_URL=https://example.com
COMMON_USERNAME=testuser
COMMON_PASSWORD=password
